{% extends 'shop/basic.html' %}

{% block title%}About Us{% endblock%}
{% block body %}
<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">OurKarts</h1>
        <p class="col-md-8 fs-4">OurKarts is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal. As of March 2017, OurKarts held a 39.5% market share of India's e-commerce industry. OurKarts has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones. OurKarts also owns PhonePe, a mobile payments service based on the UPI.</p>
        <a href="https://en.wikipedia.org/wiki/Flipkart"><button class="btn btn-primary btn-lg"  type="button">For More Info</button></a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>History</h2>
          <p>Flipkart was founded in October 2007 by Sachin Bansal and Binny Bansal, alumni of the IIT, Delhi and former Amazon employees. The company initially focused on online book sales with country-wide shipping. Flipkart slowly grew in prominence and was receiving 100 orders per day by 2008. In 2010, Flipkart acquired the Bangalore-based social book discovery service WeRead from Lulu.com.</p>
          <a href="https://en.wikipedia.org/wiki/Flipkart"><button class="btn btn-primary btn-lg"  type="button">For More Info</button></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Business structures</h2>
          <p>According to a report in November 2014, Flipkart was operating through a complex business structure that included nine firms, some registered in Singapore and some in India. In 2012, Flipkart co-founders sold WS Retail to a consortium of investors led by Rajeev Kuchhal. Flipkart's Indian entities are owned by Flipkart Pvt. Ltd, which is registered in Singapore. The Singapore-registered entity owns eight Indian companies, including Flipkart Internet Pvt. Ltd, the company that runs the e-commerce marketplace Flipkart.com, Flipkart India Pvt. Ltd, the wholesale business, and Flipkart Logistics Pvt. Ltd, which runs Ekart.</p>
          <a href="https://en.wikipedia.org/wiki/Flipkart"><button class="btn btn-primary btn-lg"  type="button">For More Info</button></a>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>
</main>



{%endblock%}